<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facial Recognition Attendance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Facial Recognition Attendance System</h1>
        <div class="options">
            <a href="{{ url_for('mark_attendance') }}" class="button">Mark Attendance</a>
            <a href="{{ url_for('display_attendance') }}" class="button">Display Attendance</a>
        </div>
    </div>
</body>
</html>
